<div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" style="    width: 100%;" class="top" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" style="    width: 100%; margin-bottom: 5px" class="colorful" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="row wrap" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false">
          <div fxLayout="column wrap" style="z-index:99" fxFlex="15" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
            <mat-icon routerLink="../home">arrow_back</mat-icon>
          </div>
          <div fxLayout="column wrap" fxFlex="85" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
            <h2 style="    text-align: center;    margin-left: -30px;"> ToDos</h2>
          </div>
        </div>
      </div>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div style="width:100%">
            <mat-chip-list>
              <mat-chip *ngFor="let area of areas" (click)="display(area)">{{area.name}}</mat-chip>
            </mat-chip-list>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="column wrap" style="    margin-top: 140px;" class="content list" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" *ngFor="let task of tasks">
        <div fxLayout="row wrap" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false">
          <h4> {{task.name}}</h4>
          <mat-icon (click)="removeTask(task)">clear</mat-icon>
        </div>
      </div>
    </div>
    <div fxLayout="column wrap" style="z-index: 999" class="add slideInUp" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" *ngIf="show">
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="row wrap" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false">
          <h2> Add ToDo</h2>
          <mat-icon (click)="change()">remove</mat-icon>
        </div>
      </div>
      <div fxLayout="column wrap" fxFlex="80" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <mat-form-field class="text" [appearance]="&apos;standard&apos;" [floatLabel]="&apos;auto&apos;">
          <input matInput [(ngModel)]="dm.task.name" placeholder="Name of Task" required (keyup.enter)="add()">

        </mat-form-field>
        <mat-form-field>
          <textarea matInput [(ngModel)]="dm.task.description" placeholder="Description" required></textarea>
        </mat-form-field>
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" *ngIf="areas">
          <mat-form-field>
            <mat-select placeholder="Select" [(ngModel)]="areaID" required>
              <mat-option *ngFor="let area of areas" [value]="area.id">{{area.name}}</mat-option>
            </mat-select>

          </mat-form-field>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false">
          <div fxLayout="column wrap" fxFlex="50" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
            <mat-form-field style="width: 110px;">
              <input matInput placeholder="Start Date " [matDatepicker]="picker1" [(ngModel)]="dm.area.starDate" required>
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>

            </mat-form-field>
          </div>
          <div fxLayout="column wrap" fxFlex="50" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <mat-form-field style="width: 110px;">
              <input matInput placeholder="End Date " [matDatepicker]="picker2" [(ngModel)]="dm.area.endDate" required>
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>

            </mat-form-field>
          </div>
        </div>
        <div fxLayout="column wrap" style="    margin: 5px 0 10px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><button mat-raised-button (click)="add()" [disabled]="!dm.task.name || !areaID">Add</button></div>
      </div>
    </div>
    <div fxLayout="column wrap" class="add colorful" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" *ngIf="!show">
      <div fxLayout="row wrap" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false">
        <h2> Add ToDo</h2>
        <mat-icon (click)="change()">add</mat-icon>
      </div>
    </div>
  </div>
</div>