/*Importing default angular material css theme. */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "nDefaults.scss";
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import "css/animations.scss";

$primary : #003038;
$secondary : #315962;
$light : #315962;
$dark : #000812;

// body {
//     // padding: 0 30px;
//     background: darkslategrey;
//     color: white;
// }


* {
    font-family: 'Poppins', sans-serif;
}

.list {
    padding: 0 30px;
}
.add button {
    background-color: $primary;
    color: white;
}

.add {
    // width: 100%;
    padding: 0 33px;
    bottom: 0px;
    position: absolute;
    margin: -5px 5px;
    box-shadow: 0px -1px 9px -5px black;
    width: 97%;
    background: white;
}

.top {
  position: absolute;
  top: 0;
}

.content {
  margin-top: 75px;
}

// .text {
//     // border: 1px grey solid;
//     // border-radius: 5px;
// }

.cardArea {
  width: 35%;
  margin: 8px;
  box-shadow: 0 2px 4px 0.5px #777777ad !important;
}

.colorful{
    background: $primary;
    color: white;
}
